body {
  background-color: black;
  background-image: url(../img/steel.jpg);
}

.jumbotron {
  background-color: inherit;
  color: white;
  font-family: 'Press Start 2P';
}

#userNamePanel, #userInputSubmit, #userNameBtn {
  display: none;
}

#titlePanel {
  height: 768px;
  width: 1024;
  border-radius: 30px;
  background-image: url(../img/giphy.gif);
  background-size: cover;
  box-shadow: 0px 0px 60px #1de054;
  border: lightgreen;
}

#titleText {
  display: block;
  position: relative;
  top: 250px;
  font-family: 'Press Start 2P';
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  color: lightgreen;
  text-shadow: 0px 0px 60px black;
}



#userNamePanel {
  height: 768px;
  width: 1024;
  border-radius: 30px;
  background-image: url(../img/computerScreen.jpg);
  background-size: cover;
  box-shadow: 0px 0px 60px #1de054;
  position: relative;
  border: lightgreen;
}

#gameTextPanel {
  height: 768px;
  width: 1024;
  border-radius: 30px;
  background-image: url(../img/computerScreen.jpg);
  background-size: cover;
  box-shadow: 0px 0px 60px #1de054;
  position: relative;
  border: lightgreen;
}

.logBox {
  height: 668px;
  width: 1000;
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    margin-left: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgreen;
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,0.5);
}

::-webkit-scrollbar-corner {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

#user, #userInput, #userInputText, #userName {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  margin-left: 30px;
  color: lightgreen;
  background-color: inherit;
  width: 300px;
  font-family: 'VT323', monospace;
  font-size: 30px;
  border: none;
}

.console {
  position: absolute;
  bottom: 0;
  font-family: 'VT323', monospace;
  color: lightgreen;
  font-size: 30px;
}

p, li, h5 {
  font-family: 'VT323', monospace;
  color: lightgreen;
  font-size: 30px;
}

#userInputText:focus, #userName:focus {
  outline: none;
}

.logo {
  -webkit-animation: flicker 5s;
}

@-webkit-keyframes flicker
{
0% {opacity:1;}
9% {opacity:0;}
10% {opacity:1;}
13% {opacity:0;}
20% {opacity:1;}
25% {opacity:0;}
50% {opacity:1;}
75% {opacity:1;}
}
